/*新增資料區(非button)*/
.eddit_areas{
    border:5px solid white;
    margin-left:10px;
    width: 250px;
    height: 290px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .eddit_name, .eddit_password, .eddit_permission, .eddit_but_div{
    margin-top:10px;
  }
  